body
{
    background-color: antiquewhite !important;
}

.draggable-card 
{
    cursor: move;
}

.sortable-ghost 
{
    opacity: 0; 
}

.sortable-chosen 
{
    transform: scale(1.02);
    transition: transform ease;
    transition-delay: 0.1s;
    z-index: 1000;
}

.WelcomePic 
{
    background-image: url('/static/pexels-alesiakozik-6770775.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}