{% extends "layout.html" %}


{% block title %}
    Analytics
{% endblock %}

{% block main %}
    <div class="container mt-4">
    <div class="row">
        <div class="col-md-5 d-flex flex-column">
        <div class="card p-3 shadow border-secondary mb-3" style="height: 150px;">
            <h5 class="pb-4">Bank Balance</h5>
            <p>Total Cash: {{ cash }}</p>
        </div>

        <div class="card p-3 shadow border-secondary" style="height: 550px; overflow-y: auto;">
            <h5>Transaction History</h5>
            <ul class="list-group list-group-flush">
            {% for transaction in transactions %}
                <li class="list-group-item">Amount: {{ transaction.shares }}/ Total: {{ transaction.transaction_total| usd }}/ Date: {{ transaction.transaction_date }}</li>
            {% endfor %}
            </ul>
        </div>
        </div>

        <div class="col-md-7 d-flex flex-column">
        <div class="card p-3 shadow border-secondary mb-3 d-flex justify-content-center align-items-center" style="height: 550px;">
            <div style="width: 500px; height: 500px;">
            <canvas id="analystChart" width="500" height="500"></canvas>
            </div>
        </div>

        <div class="card p-3 shadow border-secondary" style="height: 150px; overflow-y: auto;">
            <h5>Description</h5>
            <p>{{ stock.description }}</p>
        </div>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('analystChart');
        const analystChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Strong Buy', 'Buy', 'Hold', 'Sell', 'Strong Sell'],
                datasets: [{
                    label: 'Analytic Ratings',
                    data: {{ ratings | tojson}},
                    backgroundColor: [
                        'rgba(40, 167, 69, 0.7)',
                        'rgba(75, 192, 192, 0.7)',
                        'rgba(255, 206, 86, 0.7)',
                        'rgba(153, 102, 255, 0.7)',
                        'rgba(255, 99, 132, 0.7)'
                    ],
                    hoverOffset: 3
                }]
            },
        });
    </script>
{% endblock %}