{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block nav %}
    {% if session.get("user_id") %}
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container d-flex justify-content-center align-items-center" style="min-height: 40px;">
            <form method="POST" action="/" class="d-flex flex-column flex-md-row align-items-center gap-2">
                <label for="symbol" class="form-label mb-0 me-2">Create Card:</label>
                <input type="text" id="symbol" name="symbol" value="{{ symbol }}" placeholder="Symbol" class="form-control me-2" style="width: 150px;">
                <button class="btn btn-outline-dark" type="submit">Pin</button>
            </form>
        </div>
    </nav>
    {% endif %}  
{% endblock %}

{% block main %}
    <div class="container">
        {% if session.get("user_id") %}
        <div class="row justify-content-center">
            {% for card in card_list %}
            <div class="col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card text-center mb-4 w-100 shadow border-secondary">
    
                    <div class="card-title mt-2 border-bottom px-3 position-relative" style="height: 40px;">
                        <h5 class="position-absolute top-50 start-50 translate-middle m-0">
                            {{ card.symbol }}
                        </h5>
                        <div class="position-absolute top-50 end-0 translate-middle-y me-2">
                            <a href="/remove_stock/{{ card.symbol }}" class="btn btn-danger btn-sm rounded-circle d-flex align-items-center justify-content-center p-0" 
                            style="width: 32px; height: 32px;" onclick="confirm('Are you sure you want to unpin and sell remaining stock?')">
                                <i class="bi bi-x-lg text-white"></i>
                            </a>
                        </div>            
                    </div>
    
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{ card.name }}</h6>
                        <p class="card-text">Closing Price: {{ card.price }}</p>
                        <p class="card-text m-0">Amount: {{ card.amount }}</p>
                        <p class="card-text">Total Value: {{ card.total }}</p>
                        <a href="/trade/{{ card.symbol }}" class="btn btn-primary mb-1">Trade</a>
                        <a href="/analytics/{{ card.symbol }}" class="btn btn-secondary mb-1">Analytics</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            {% if not card_list %}
            <div class="text-center mt-5">
                <h4>{{ user_prompt }}</h4>
            </div>
            {% endif %}
        {% else %}
        <div class="container">
            <img src="static/pexels-alesiakozik-6770775.jpg" alt="Computer" style="width:100%;">
            <div class="centered">
                <div class="position-absolute top-50 start-50 translate-middle text-white">
                    <p class="display-3">Welcome to Pinboard</p>
                    <p class="display-5 mb-5">stocks made easy</p>
                    <a href="/login" class="btn btn-lg btn-light px-4 py-2 fs-4">Login to start trading</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}