{% extends "layout.html" %}

{% block title %}
    Privacy
{% endblock %}

{% block privacy %}
<div class="m-4 p-4">
    <h1>Liam J Gahan Customer Privacy Notice</h1>
    <p>This privacy notice tells you what to expect us to do with your personal information.</p>
    <ul>
        <li><a href="#contact-details">Contact details</a></li>
        <li><a href="#what-we-collect">What information we collect, use, and why</a></li>
        <li><a href="#lawful-bases">Lawful bases and data protection rights</a></li>
        <li><a href="#where-we-get-info">Where we get personal information from</a></li>
        <li><a href="#data-retention">How long we keep information</a></li>
        <li><a href="#how-to-complain">How to complain</a></li>
    </ul>

    <h2 id="contact-details">Contact Details</h2>
    <p>Email: <a href="mailto:liamgahan09@gmail.com">liamgahan09@gmail.com</a></p>

    <h2 id="what-we-collect">What Information We Collect, Use, and Why</h2>
    <p>We collect or use the following information for the operation of customer accounts and guarantees:</p>
    <ul>
        <li>Account information, including registration details</li>
    </ul>

    <h2 id="lawful-bases">Lawful Bases and Data Protection Rights</h2>
    <p>Under UK data protection law, we must have a “lawful basis” for collecting and using your personal information. You can find out more about lawful bases and your rights on the <a href="https://ico.org.uk/">ICO’s website</a>.</p>

    <p>Your rights include:</p>
    <ul>
        <li><strong>Your right of access:</strong> You have the right to ask us for copies of your personal information.</li>
        <li><strong>Your right to rectification:</strong> You have the right to ask us to correct or delete personal information you think is inaccurate or incomplete.</li>
        <li><strong>Your right to erasure:</strong> You have the right to ask us to delete your personal information.</li>
        <li><strong>Your right to restriction of processing:</strong> You can ask us to limit how we use your personal information.</li>
        <li><strong>Your right to object to processing:</strong> You can object to the processing of your data.</li>
        <li><strong>Your right to data portability:</strong> You can ask us to transfer your personal data to another organisation or to you.</li>
        <li><strong>Your right to withdraw consent:</strong> When we use consent as a lawful basis, you can withdraw it at any time.</li>
    </ul>
    <p>If you make a request, we must respond without undue delay and within one month.</p>
    <p>To make a data protection rights request, please contact us using the details above.</p>

    <h3>Our Lawful Basis</h3>
    <p>Our lawful basis for collecting or using your data for customer accounts and guarantees is:</p>
    <ul>
        <li><strong>Consent:</strong> You have given us permission after being informed. All rights apply, except the right to object. You can withdraw consent at any time.</li>
    </ul>

    <h2 id="where-we-get-info">Where We Get Personal Information From</h2>
    <ul>
        <li>Directly from you</li>
    </ul>

    <h2 id="data-retention">How Long We Keep Information</h2>
    <p><em>Username and passwords are held indefinitely unless a request is made for their deletion. Other data provided by the user is also held indefinitely unless the user either deletes the data or requests deletion.</a></em></p>

    <h2 id="how-to-complain">How to Complain</h2>
    <p>If you have concerns about how we use your data, contact us using the details above.</p>
    <p>If you're still unhappy, you can also complain to the ICO:</p>

    <address>
        Information Commissioner’s Office<br>
        Wycliffe House<br>
        Water Lane<br>
        Wilmslow<br>
        Cheshire<br>
        SK9 5AF<br>
        Helpline: <a href="tel:+443031231113">0303 123 1113</a><br>
        Website: <a href="https://www.ico.org.uk/make-a-complaint" target="_blank">https://www.ico.org.uk/make-a-complaint</a>
    </address>

    <p><em>Last updated: 01/05/2025</em></p>
</div>
{% endblock %}