{% extends "layout.html" %}

{% block title %}
    Trade
{% endblock %}

{% block main %}
<form action="/trade/{{ symbol }}" method="post">
    <div class="mb-3">
        <h6>{{ symbol }}</h6>
    </div>
    <div class="mb-3">
        <p>Daily Price: ${{ price }}</p>
    </div>
    <div class="mb-3">
        <p>Amount: $0</p>
    </div>
    <div class="mb-3">
        <p>Total Value: $0</p>
    </div>
    <div class="mb-3">
        <input type="number" name="shares">
    </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
</form>
{% endblock %}