{% extends "layout.html" %}

{% block title %}
    Change Username
{% endblock %}

{% block main %}
    <form action="/username" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newusername" placeholder="New Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm New Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Enter Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
{% endblock %}